
  <div id="infowindow-content">
    <img src="" width="16" height="16" id="place-icon" />
    <span id="place-name" class="title"></span><br />
    <span id="place-address"></span>
  </div>

  <div class="pac-card" id="pac-location-card">
    <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>World Cities</mat-card-title>
      <mat-card-subtitle>{{subheading}}</mat-card-subtitle>      
    </mat-card-header>

    
    <mat-card-content *ngIf="currentState === 'Locations' || currentState === 'Favourites'">
      <mat-selection-list #city [multiple]="false">
        <mat-list-option (click)="listChanges(city)" *ngFor="let city of cityLocations" [value]="city">
          {{city.name}} 
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>


    <mat-card-content *ngIf="currentState === 'Search'">
      <div id="pac-container" >
        <mat-form-field class="example-full-width">
          <input id="pac-input"  matInput [formControl]="autocompleteFormControl" placeholder="Enter a location"> 

        </mat-form-field>
        <i [ngClass]="favoriteCheck()" class="fav" (click)="saveToFav()" aria-hidden="true"></i>
      </div>
    </mat-card-content>


    

    <mat-card-actions *ngIf="currentState === 'Locations'"> 
      <button mat-button (click)="randomLocations()">RANDOMIZE</button>
      <button mat-button (click)="selectLocation()" [disabled]="!selectedLocation?.name">GO</button>
    </mat-card-actions>

    <mat-card-actions *ngIf="currentState === 'Favourites'"> 
      <button mat-button (click)="selectLocation()" [disabled]="!selectedLocation?.name">GO</button>
    </mat-card-actions>
  </mat-card>   
  </div>

  <section id="navigation-buttons"> 
    <div class="button-row">
      <button class="buttons-space" (click)="locationNav()" [disabled]="currentState === 'Locations'" mat-raised-button color="primary" >Locations</button>
      <button class="buttons-space" (click)="selectLocation()" [disabled]="currentState === 'Search'" mat-raised-button color="primary">Search Locations</button>
      <button class="buttons-space" (click)="favLocation()" [disabled]="currentState === 'Favourites'" mat-raised-button color="primary">Favourites</button>
    </div>
  </section>